In [9]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns

In [10]:
df = pd.read_csv('monthly_median_NDVI_tempelhofer_feld.csv').dropna()

In [11]:
df.head()

,system:index,NDVI,month,year,.geo
0,0,0.459813,1.0,2015.0,"{""type"":""MultiPoint"",""coordinates"":[]}"
1,1,0.452986,2.0,2015.0,"{""type"":""MultiPoint"",""coordinates"":[]}"
2,2,0.468892,3.0,2015.0,"{""type"":""MultiPoint"",""coordinates"":[]}"
3,3,0.551578,4.0,2015.0,"{""type"":""MultiPoint"",""coordinates"":[]}"
5,5,0.346733,6.0,2015.0,"{""type"":""MultiPoint"",""coordinates"":[]}"

In [12]:
df = df.drop(columns=['system:index', '.geo'])

In [13]:
df.head()

       NDVI  month    year
0  0.459813    1.0  2015.0
1  0.452986    2.0  2015.0
2  0.468892    3.0  2015.0
3  0.551578    4.0  2015.0
5  0.346733    6.0  2015.0

In [17]:
df['month'] = df['month'].astype(int)
df['year'] = df['year'].astype(int)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66 entries, 0 to 105
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NDVI    66 non-null     float64
 1   month   66 non-null     int64
 2   year    66 non-null     int64
dtypes: float64(1), int64(2)
memory usage: 4.1 KB

In [19]:
df.head()

       NDVI  month  year
0  0.459813      1  2015
1  0.452986      2  2015
2  0.468892      3  2015
3  0.551578      4  2015
5  0.346733      6  2015

In [22]:
df.to_csv('median_ndvi_20per_cc_clean.csv')